body{
    background-color: #FBC188;
}
img{
    height: 350px;
    width: 500px;
    border-radius: 15px;
    border: 6px solid rgb(187, 64, 64);
    position:absolute;
    top: 5%;
    left: 35%;
}
#Scoreboard{
    position: absolute;
    top: 65%;
    font-size: 50px;
    left: 15%;
    font-family: 'Permanent Marker', cursive;
}
button{
    height: 80px;
    width: 190px;
    font-size: 30px;
    border-radius: 20px;
    color: white;
    background-color: #B87C84;
}
#buttons{
    position: absolute;
    top: 60%;
    left: 80%;
}   
@media only screen and (max-width: 600px) {
    img{
        height: 250px;
        width: 300px;
        left: 10%;
    }
    #Scoreboard{
        top: 45%;
        left: 5%;
    }
    #buttons{
        top: 70%;
        left: 25%;
    }
  }